.SidebarTableOverview {
    display: flex;
    width: 24rem;
    height: 35rem;
    border-radius: 25px;
    background-color: rgba(255,255,255,0.2);
    align-self: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
    overflow-y: scroll;
}
